## Import libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
import wikipedia as wiki

## Web Scraping

In [3]:
wp=wiki.page('List_of_postal_codes_of_Canada:_M').html().encode('utf-8')

In [4]:
df=pd.read_html(wp,header=0)[0]

In [5]:
df.to_csv('Capstone3.1.csv')

## Data Preprocessing

In [6]:
df=pd.read_csv('Capstone3.1.csv')
df

,Unnamed: 0,Postal Code,Borough,Neighborhood
0,0,M1A,Not assigned,Not assigned
1,1,M2A,Not assigned,Not assigned
2,2,M3A,North York,Parkwoods
3,3,M4A,North York,Victoria Village
4,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...,...
175,175,M5Z,Not assigned,Not assigned
176,176,M6Z,Not assigned,Not assigned
177,177,M7Z,Not assigned,Not assigned
178,178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,179,M9Z,Not assigned,Not assigned

In [24]:
df.drop(['Unnamed: 0'],axis=1)

,Postal Code,Borough,Neighborhood
0,M1A,NaN,NaN
1,M2A,NaN,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,NaN,NaN
176,M6Z,NaN,NaN
177,M7Z,NaN,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,NaN,NaN

In [9]:
df.replace('Not assigned',np.nan,inplace=True)

In [10]:
df.isnull().sum()

Unnamed: 0       0
Postal Code      0
Borough         77
Neighborhood    77
dtype: int64

In [11]:
dfa=df.dropna(subset=['Borough'],axis=0)

In [12]:
dfa.reset_index(drop=True,inplace=True)

In [13]:
dfa.isnull().sum()

Unnamed: 0      0
Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

In [14]:
dfa.shape

(103, 4)

In [26]:
dfa.drop(['Unnamed: 0'],axis=1)

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [27]:
dfa.to_csv('dfa.csv')